<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>{{error}}</p>

    </div>
    {{>footer}}
</body>

</html>