<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>{{msg}}</p>
    </div>
    {{>footer}}
</body>

</html>